[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = ScoopyNG ? The VMware detection tool
[access "refs/*"]
	owner = group user/thatreguy
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/thatreguy
	label-Verified = -1..+1 group user/thatreguy
	push = group user/thatreguy
	read = group user/thatreguy
	rebase = group user/thatreguy
	removeReviewer = group user/thatreguy
	submit = group user/thatreguy
[access "refs/heads/*"]
	create = group user/thatreguy
	push = +force group user/thatreguy
	pushMerge = group user/thatreguy
	read = group user/thatreguy
[access "refs/tags/*"]
	push = group user/thatreguy
	push = +force group user/thatreguy
